[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/bundle/AnsiEsc.vim"]
	path = vim/bundle/AnsiEsc.vim
	url = git@github.com:vim-scripts/AnsiEsc.vim.git
[submodule "vim/bundle/AutoTag"]
	path = vim/bundle/AutoTag
	url = git@github.com:vim-scripts/AutoTag.git
[submodule "vim/bundle/IndexedSearch"]
	path = vim/bundle/IndexedSearch
	url = git@github.com:vim-scripts/IndexedSearch.git
[submodule "vim/bundle/change-inside-surroundings.vim"]
	path = vim/bundle/change-inside-surroundings.vim
	url = git@github.com:briandoll/change-inside-surroundings.vim.git
[submodule "vim/bundle/color_highlight"]
	path = vim/bundle/color_highlight
	url = git@github.com:chrisbra/color_highlight.git
[submodule "vim/bundle/completor.vim"]
	path = vim/bundle/completor.vim
	url = git@github.com:maralla/completor.vim.git
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = git@github.com:godlygeek/csapprox.git
[submodule "vim/bundle/ctrlr.vim"]
	path = vim/bundle/ctrlr.vim
	url = git@github.com:goldfeld/ctrlr.vim.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim/bundle/file-line"]
	path = vim/bundle/file-line
	url = git@github.com:bogado/file-line.git
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/bundle/investigate.vim"]
	path = vim/bundle/investigate.vim
	url = git@github.com:Keithbsmiley/investigate.vim.git
[submodule "vim/bundle/lastpos.vim"]
	path = vim/bundle/lastpos.vim
	url = git@github.com:vim-scripts/lastpos.vim.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/bundle/matchit.zip"]
	path = vim/bundle/matchit.zip
	url = git@github.com:vim-scripts/matchit.zip.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/showmarks"]
	path = vim/bundle/showmarks
	url = git@github.com:xsunsmile/showmarks.git
[submodule "vim/bundle/splitjoin.vim"]
	path = vim/bundle/splitjoin.vim
	url = git@github.com:AndrewRadev/splitjoin.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "vim/bundle/undotree"]
	path = vim/bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:skwp/vim-colors-solarized.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "vim/bundle/vim-flavored-markdown"]
	path = vim/bundle/vim-flavored-markdown
	url = git@github.com:jtratner/vim-flavored-markdown.git
[submodule "vim/bundle/vim-html-escape"]
	path = vim/bundle/vim-html-escape
	url = git@github.com:skwp/vim-html-escape.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = git@github.com:tpope/vim-ragtag.git
[submodule "vim/bundle/vim-rooter"]
	path = vim/bundle/vim-rooter
	url = git@github.com:airblade/vim-rooter
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = git@github.com:xolox/vim-session.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git@github.com:gmarik/vundle.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = git@github.com:mattn/webapi-vim.git
