-e git+ssh://git@github.com/ArmisSecurity/armis.git@574c01d09f44ecd5097134b7372c5b8e40517910#egg=acli&subdirectory=dev_tools/acli
aiocmd==0.1.5
antlr4-python3-runtime==4.13.2
astroid==2.15.8
asttokens==3.0.0
bcrypt==5.0.0
boto3==1.40.14
botocore==1.40.14
certifi==2025.8.3
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.3
click==7.1.2
colorama==0.4.6
coverage==7.10.6
cryptography==46.0.3
dazel==0.0.43
decorator==5.2.1
dill==0.4.0
distlib==0.4.0
docker==5.0.0
executing==2.2.0
filelock==3.19.1
gitdb==4.0.12
GitPython==3.1.45
identify==2.6.14
idna==3.10
iniconfig==2.1.0
inquirerpy==0.3.4
invoke==2.2.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
isort==5.13.2
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
kaptan==0.6.0
lazy-object-proxy==1.12.0
libtmux==0.11.0
linkify-it-py==2.1.0
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
mypy-protobuf==3.6.0
nodeenv==1.9.1
packaging==25.0
paramiko==4.0.0
parso==0.8.4
pexpect==4.9.0
pfzy==0.3.4
platformdirs==4.4.0
pluggy==1.6.0
pre_commit==4.3.0
prompt_toolkit==3.0.51
proto-schema-parser==2.0.0
protobuf==6.32.1
psutil==7.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.23
Pygments==2.19.2
pylint==2.17.7
pylint-protobuf==0.22.0
PyNaCl==1.6.0
pytest==8.4.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.29.0
rich==14.3.3
s3transfer==0.13.1
six==1.17.0
smmap==5.0.2
stack-data==0.6.3
tabulate==0.9.0
textual==8.0.1
tmuxp==1.10.1
tomlkit==0.13.3
traitlets==5.14.3
types-protobuf==6.30.2.20250822
typing_extensions==4.14.1
uc-micro-py==2.0.0
urllib3==1.26.20
virtualenv==20.34.0
wcwidth==0.2.13
websocket-client==1.9.0
wrapt==1.17.3
