absl-py==2.0.0
-e git+ssh://git@github.com/ArmisSecurity/armis.git@91f952f3bb0620d6db40f5ba21f111c43a4d26c0#egg=acli&subdirectory=dev_tools/acli
aiocmd==0.1.5
aiohttp==3.7.4
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.3.0
appnope==0.1.4
asgiref==3.8.1
astroid==3.3.3
asttokens==2.4.1
astunparse==1.6.3
async-timeout==3.0.1
atlassian-python-api==3.41.4
attrs==23.2.0
autopep8==2.0.4
aws-okta-keyman==0.9.0
backoff==2.2.1
backports.tarfile==1.2.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
boltons==21.0.0
boto3==1.34.113
botocore==1.34.113
bracex==2.5.post1
bson==0.5.10
build==1.2.2.post1
cachetools==5.3.2
certifi==2019.9.11
cffi==1.16.0
cfgv==3.4.0
chardet==3.0.4
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.6.3
Click==7.0
click-option-group==0.5.6
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
commonmark==0.9.1
configparser==7.0.0
contourpy==1.2.0
cover-agent @ git+https://github.com/Codium-ai/cover-agent.git@3b09281d749542b07dbbc389a703fa8a25678964
coverage==7.8.0
cryptography==42.0.7
cycler==0.12.1
dazel==0.0.42
db-dtypes==1.4.2
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diagrams==0.24.4
dill==0.3.8
distlib==0.3.8
distro==1.9.0
docker==4.4.4
docstring_parser==0.16
dunamai==1.21.1
durationpy==0.9
dynaconf==3.2.5
exceptiongroup==1.2.0
executing==2.0.1
face==24.0.0
fastapi==0.115.11
filelock==3.13.1
flasgger==0.9.7.1
Flask==3.1.0
flask-sock==0.7.0
flatbuffers==23.5.26
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2024.5.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
glom==22.1.0
google-api-core==2.22.0
google-auth==2.36.0
google-cloud-artifact-registry==1.13.0
google-cloud-secret-manager==2.21.0
google-crc32c==1.6.0
googleapis-common-protos==1.65.0
graphviz==0.20.3
greenlet==3.0.3
grpc-google-iam-v1==0.13.1
grpcio==1.64.0
grpcio-status==1.62.2
h11==0.14.0
h5py==3.10.0
httpcore==1.0.5
httptools==0.6.4
httpx==0.27.0
huggingface-hub==0.23.1
humanfriendly==10.0
identify==2.5.33
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.18.1
isort==5.13.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-console==6.6.3
jupyter_client==8.6.3
jupyter_core==5.7.2
kaleido==0.2.1
kaptan==0.6.0
keras==2.15.0
keyring==25.2.1
kiwisolver==1.4.5
kubernetes==32.0.1
libclang==16.0.6
libtmux==0.11.0
litellm @ git+https://github.com/mrT23/litellm.git@61556f0c9803674339554c8252001a67bc112768
lxml==5.3.0
Markdown==3.5.1
markdown-it-py==3.0.0
markdownify==0.11.6
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==3.1.2
ml-dtypes==0.2.0
mmh3==5.1.0
monotonic==1.6
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.0.4
mypy-protobuf==3.6.0
narwhals==1.30.0
nest-asyncio==1.6.0
nodeenv==1.8.0
numpy==1.26.2
oauthlib==3.2.2
onnxruntime==1.19.2
openai==1.30.3
opentelemetry-api==1.31.0
opentelemetry-exporter-otlp-proto-common==1.31.0
opentelemetry-exporter-otlp-proto-grpc==1.31.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation==0.52b0
opentelemetry-instrumentation-asgi==0.52b0
opentelemetry-instrumentation-fastapi==0.52b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-proto==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-semantic-conventions==0.52b0
opentelemetry-util-http==0.52b0
opt-einsum==3.3.0
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.1.4
paramiko==3.5.0
parso==0.8.3
peewee==3.17.9
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.1.0
playwright==1.43.0
plotly==6.0.0
pluggy==1.3.0
poetry-dynamic-versioning==1.3.0
posthog==3.20.0
pre_commit==4.2.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
proto-schema-parser==1.3.7
protobuf==5.29.3
psutil==6.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==19.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pydash==8.0.3
pyee==11.1.0
Pygments==2.17.2
PyInquirer==1.0.3
PyJWT==2.8.0
pylint==3.3.0
pylint-protobuf==0.12
pyls==0.1.6
PyNaCl==1.5.0
pyparsing==3.1.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pytest==7.4.4
pytest-cov==4.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==26.2.0
referencing==0.36.2
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.3
rpds-py==0.23.1
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.2.2
s3transfer==0.10.0
semgrep==1.111.0
shapely==2.0.4
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
slack-bolt==1.9.2
slack-sdk==3.26.1
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.39
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.46.1
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.35.0
termcolor==2.4.0
tiktoken==0.6.0
tmuxp==1.10.1
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.5
tornado==6.4.1
tqdm==4.66.1
traitlets==5.14.0
typer==0.15.2
types-protobuf==5.28.0.20240924
typing_extensions==4.9.0
tzdata==2023.3
urllib3==1.26.18
uv==0.7.3
uvicorn==0.34.0
uvloop==0.21.0
vanna==0.7.6
virtualenv==20.25.0
watchfiles==1.0.4
wcmatch==8.5.2
wcwidth==0.2.12
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.14.1
wsproto==1.2.0
yarl==1.9.4
zipp==3.17.0
